##set($layout = "/layout/front.vm")
<form id="myform" style="margin: 50px;">
<input type="hidden" name="id" value="$!{vo.id}"/>
<table style="font-size: 12px;" cellspacing="6" width="100%">
<tbody>

	#if($mark == 1)
		<tr>
			 <td>菜单名称：</td>
			 <td>$!{vo.name}</td>
		 </tr>
		 <tr>
		 	<td>
		 		地址：
		 	</td>
		 	<td>
		 		$!{vo.url}
		 	</td>
		 </tr>
		 <tr>
		 	<td>
		 		父级：
		 	</td>
		 	<td>
		 		#foreach($list in $parentMenuList)
		 			#if($list.id == $vo.parentMenu)
		 				$!{list.name}
		 			#else
		 			
		 			#end
		 		#end
		 	</td>
		 </tr>
		<tr>
			<td>排序：</td>
			<td>
				$!{vo.sort}
			</td>
		</tr>
		
	#else
		<tr>
			 <td>菜单名称：</td>
			 <td><input type="text" name="name" value="$!{vo.name}" style="width:180px;height:22px" 
			 class="easyui-validatebox" data-options="required:true,validType:['length[2,20,\'菜单名称\']']"  /> </td>
		 </tr>
		 <tr>
		 	<td>
		 		地址：
		 	</td>
		 	<td>
		 		<input type="text" name="url" value="$!{vo.url}" style="width:180px;height:22px" >
		 	</td>
		 </tr>
		 <tr>
		 	<td>
		 		父级：
		 	</td>
		 	<td>
		 		<select name="parentMenu">
		 		<option value="0">--无父级--</option>
		 		#foreach($list in $parentMenuList)
		 			#if($list.id == $vo.parentMenu)
		 				<option value="$!{list.id}" selected="selected">$!{list.name}</option>
		 			#else
		 				<option value="$!{list.id}">$!{list.name}</option>
		 			#end
		 		#end
		 		</select>
		 	</td>
		 </tr>
		<tr>
			<td>排序：</td>
			<td>
				<input type="text" class="easyui-numberbox" data-options="precision:0" value="$!{vo.sort}" name="sort" />
			</td>
		</tr>
	#end
</tbody>
</table>
</form>