##set($layout = "/layout/front.vm")

	<title>菜单列表</title>
  	  <script type="text/javascript">
		var columns=[[
					{field:'name',title:'菜单名称',width:120},
					{field:'url',title:'地址',width:422},
					{field:'addTime',title:'添加时间',width:200,formatter:formatDatebox},
					{field:'sort',title:'排序',width:120}
				]];
		$(function(){
			initPage("/sys/menu/","菜单列表","菜单信息","菜单信息",columns);
		});
	</script>
    	<table id="tab" toolbar="#tb"></table>
    	<div id="tb">
    		<form id="queryForm">
    			<a id="add" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增</a> 
    			<a id="edit" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
    			<a id="remove" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
    			<a id="see" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-large-smartart'">查看</a>
    			<input placeholder="菜单名称" name="menuName"  style="margin-top: 1px;" />
    			<a id="search" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
    		</form>
    	</div>
    	
    	<div id="win"></div>
    	<div id="seeWin"></div>