<div class="data_list">
		<div class="data_list_title">
		<img src="$rc.contextPath/STATIC/images/list_icon.png"/>
		最新博客</div>
		<div class="datas">
			<ul>
				#foreach($blog in $blogList)
			  	  <li style="margin-bottom: 30px">
				  	<span class="date"><a href="$rc.contextPath/front/blog/articles/$!{blog.id}.htm">$!date.format("yyyy年MM月dd日", $!{blog.releaseDate})</a></span>
				  	<span class="title"><a href="$rc.contextPath/front/blog/articles/$!{blog.id}.htm">$!{blog.title}</a></span>
				  	<span class="summary">摘要: $!{blog.summary}...</span>
				  	<span class="img">
				  		#foreach($image in $blog.imagesList)
					  		<a href="$rc.contextPath/front/blog/articles/$!{blog.id}.html">$!{image}</a>
					  		&nbsp;&nbsp;
				  		#end
				  	</span>
				  	<span class="info">发表于$!date.format("yyyy-MM-dd HH:mm:ss", $!{blog.releaseDate}) 阅读($!{blog.clickNum}) 评论($!{blog.replyNum}) </span>
				  </li>
				  <hr style="height:5px;border:none;border-top:1px dashed gray;padding-bottom:  10px;" />
				#end
			</ul>
		</div>
   </div>

<div>
	<nav>
	  <ul class="pagination pagination-sm">
	    $!{pageCode}
	  </ul>
	</nav>
 </div>