<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>index</display-name>
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
	
	<!-- Spring配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- Spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- <listener>
		<listener-class>com.jvbo.blog.service.impl.InitComponent</listener-class>
	</listener> -->
	
	<!-- 2016-10-25 shiro+velocity后面需要整合 -->
	<!-- shiro过滤器定义 -->
	<!-- <filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			该值缺省为false,表示生命周期由SpringApplicationContext管理,设置为true则表示由ServletContainer管理
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
	<filter>
		<filter-name>sysLogin</filter-name>
		<filter-class>com.jvbo.blog.framework.filter.SysLogin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sysLogin</filter-name>
		<url-pattern>/sys/*</url-pattern>
	</filter-mapping>
	
	<!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 添加对springmvc的支持 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.ajax</url-pattern>
	</servlet-mapping>
	
	<!-- 验证码 -->
	<servlet>
  		<servlet-name>verifyCodeServlet</servlet-name>
  		<servlet-class>com.jvbo.blog.framework.verification.VerifyCodeServlet</servlet-class>
  	</servlet>
  	<servlet>
  		<servlet-name>VerifyCodeResultServlet</servlet-name>
  		<servlet-class>com.jvbo.blog.framework.verification.VerifyCodeResultServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>VerifyCodeResultServlet</servlet-name>
  		<url-pattern>/VerifyCodeResultServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>verifyCodeServlet</servlet-name>
  		<url-pattern>/verifyCodeServlet</url-pattern>
  	</servlet-mapping>
	
	<!-- 使用velocity这样的模板引擎后就不使用jsp了，异常交给springmvc处理 -->
	<!-- <error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error/404.jsp</location>
	</error-page> -->
</web-app>