<link href="$rc.contextPath/STATIC/js/sys/css/bootstrap.min14ed.css" rel="stylesheet"><link rel="stylesheet" href="$rc.contextPath/STATIC/css/blog.css"></link>
<link rel="stylesheet" href="$rc.contextPath/STATIC/js/sys/css/plugins/bootstrap-table/bootstrap-table.min.css"></link>
<script>
	var ctx = "$rc.contextPath";
</script>
<script src="$rc.contextPath/STATIC/js/sys/js/jquery.min.js"></script>
<script src="$rc.contextPath/STATIC/js/sys/js/bootstrap.min.js"></script>
<script src="$rc.contextPath/STATIC/js/sys/common.js"></script>
<script src="$rc.contextPath/STATIC/js/sys/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$rc.contextPath/STATIC/js/sys/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>


