package ${package_name}.service;

import site.jvbo.fun.common.base.BaseService;
import ${package_name}.model.${model_name};
import ${package_name}.model.${model_name}Example;

/**
 * ${service_name}接口
 * @date ${date}
 */
public interface ${service_name} extends BaseService<${model_name}, ${model_name}Example> {

}