@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}

a{color:#333;text-decoration:none; font-size:16px;}
a:hover{color:#ffffff;text-decoration:underline;}

/* scrolltext */
.scrolltext{overflow:hidden;margin:20px auto 0 auto; padding-top: 50px; padding-left: 20px;}
.scrolltext ol li{padding-left:7px; width:100%;font-size:30pt; margin: 30px;}
.scrolltext ol li a{color:#ffffff;display:block;
 white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
.scrolltext ol li a:hover{color:#ffffff;text-decoration:none;}
.scrolltext .part{width:100%;padding-top:20px;}
.scrolltext .part span{margin-left:26px;cursor:pointer;}
#breakNews{padding:0 0 0px 2px;}
#breakNews .list6{overflow:hidden;width:100%; height:300px;}