	<title>博客类型列表</title>
  	  <script type="text/javascript">
		var columns=[[
					{field:'typeName',title:'类型名称',width:'30%'},
					{field:'sort',title:'排序',width:'30%'},
					{field:'addTime',title:'添加时间',width:'30%',formatter:formatDatebox}
				]];
		$(function(){
			initPage("/sys/blogType/","博客类型列表","博客类型信息","博客类型信息",columns);
		});
	</script>
    	<table id="tab" toolbar="#tb"></table>
    	<div id="tb">
    		<form id="queryForm">
    			<a id="add" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增</a> 
    			<a id="edit" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
    			<a id="remove" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
    			<a id="see" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-large-smartart'">查看</a>
    			<input placeholder="类型名称" name="typeName"  style="margin-top: 1px;" />
    			<a id="search" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
    		</form>
    	</div>
    	
    	<div id="win"></div>
    	<div id="seeWin"></div>
