<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jvbo.blog.dao.admin.LinkMapper">
  <resultMap id="BaseResultMap" type="com.jvbo.blog.model.Link">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="linkName" jdbcType="VARCHAR" property="linkName" />
    <result column="linkUrl" jdbcType="VARCHAR" property="linkUrl" />
    <result column="orderNo" jdbcType="INTEGER" property="orderNo" />
    <result column="addUserId" jdbcType="VARCHAR" property="addUserId" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="updTime" jdbcType="TIMESTAMP" property="updTime" />
    <result column="updUserId" jdbcType="VARCHAR" property="updUserId" />
    <result column="delFlag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, linkName, linkUrl, orderNo, addUserId, addTime, updTime, updUserId, delFlag
  </sql>
  <select id="selectByExample" parameterType="com.jvbo.blog.model.LinkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_link
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null">
      limit #{page.begin} , #{page.rows}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_link
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_link
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jvbo.blog.model.LinkExample">
    delete from t_link
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jvbo.blog.model.Link">
    insert into t_link (id, linkName, linkUrl, 
      orderNo, addUserId, addTime, 
      updTime, updUserId, delFlag
      )
    values (#{id,jdbcType=VARCHAR}, #{linkName,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=INTEGER}, #{addUserId,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updTime,jdbcType=TIMESTAMP}, #{updUserId,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jvbo.blog.model.Link">
    insert into t_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="linkName != null">
        linkName,
      </if>
      <if test="linkUrl != null">
        linkUrl,
      </if>
      <if test="orderNo != null">
        orderNo,
      </if>
      <if test="addUserId != null">
        addUserId,
      </if>
      <if test="addTime != null">
        addTime,
      </if>
      <if test="updTime != null">
        updTime,
      </if>
      <if test="updUserId != null">
        updUserId,
      </if>
      <if test="delFlag != null">
        delFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="linkName != null">
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null">
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="addUserId != null">
        #{addUserId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserId != null">
        #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jvbo.blog.model.LinkExample" resultType="java.lang.Long">
    select count(*) from t_link
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_link
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.linkName != null">
        linkName = #{record.linkName,jdbcType=VARCHAR},
      </if>
      <if test="record.linkUrl != null">
        linkUrl = #{record.linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        orderNo = #{record.orderNo,jdbcType=INTEGER},
      </if>
      <if test="record.addUserId != null">
        addUserId = #{record.addUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        addTime = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updTime != null">
        updTime = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updUserId != null">
        updUserId = #{record.updUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        delFlag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_link
    set id = #{record.id,jdbcType=VARCHAR},
      linkName = #{record.linkName,jdbcType=VARCHAR},
      linkUrl = #{record.linkUrl,jdbcType=VARCHAR},
      orderNo = #{record.orderNo,jdbcType=INTEGER},
      addUserId = #{record.addUserId,jdbcType=VARCHAR},
      addTime = #{record.addTime,jdbcType=TIMESTAMP},
      updTime = #{record.updTime,jdbcType=TIMESTAMP},
      updUserId = #{record.updUserId,jdbcType=VARCHAR},
      delFlag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jvbo.blog.model.Link">
    update t_link
    <set>
      <if test="linkName != null">
        linkName = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null">
        linkUrl = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        orderNo = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="addUserId != null">
        addUserId = #{addUserId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null">
        updTime = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserId != null">
        updUserId = #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        delFlag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jvbo.blog.model.Link">
    update t_link
    set linkName = #{linkName,jdbcType=VARCHAR},
      linkUrl = #{linkUrl,jdbcType=VARCHAR},
      orderNo = #{orderNo,jdbcType=INTEGER},
      addUserId = #{addUserId,jdbcType=VARCHAR},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      updTime = #{updTime,jdbcType=TIMESTAMP},
      updUserId = #{updUserId,jdbcType=VARCHAR},
      delFlag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>