<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jvbo.blog.dao.admin.MenuMapper">
  <resultMap id="BaseResultMap" type="com.jvbo.blog.model.Menu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="parentMenu" jdbcType="VARCHAR" property="parentMenu" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="addUserId" jdbcType="VARCHAR" property="addUserId" />
    <result column="updTime" jdbcType="TIMESTAMP" property="updTime" />
    <result column="updUserId" jdbcType="VARCHAR" property="updUserId" />
    <result column="delFlag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, icon, url, parentMenu, sort, addTime, addUserId, updTime, updUserId, delFlag
  </sql>
  <select id="selectByExample" parameterType="com.jvbo.blog.model.MenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null">
      limit #{page.begin} , #{page.rows}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jvbo.blog.model.MenuExample">
    delete from t_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jvbo.blog.model.Menu">
    insert into t_menu (id, name, icon, 
      url, parentMenu, sort, 
      addTime, addUserId, updTime, 
      updUserId, delFlag)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{parentMenu,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{addUserId,jdbcType=VARCHAR}, #{updTime,jdbcType=TIMESTAMP}, 
      #{updUserId,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jvbo.blog.model.Menu">
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="parentMenu != null">
        parentMenu,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="addTime != null">
        addTime,
      </if>
      <if test="addUserId != null">
        addUserId,
      </if>
      <if test="updTime != null">
        updTime,
      </if>
      <if test="updUserId != null">
        updUserId,
      </if>
      <if test="delFlag != null">
        delFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentMenu != null">
        #{parentMenu,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null">
        #{addUserId,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserId != null">
        #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jvbo.blog.model.MenuExample" resultType="java.lang.Long">
    select count(*) from t_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_menu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.parentMenu != null">
        parentMenu = #{record.parentMenu,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        addTime = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addUserId != null">
        addUserId = #{record.addUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updTime != null">
        updTime = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updUserId != null">
        updUserId = #{record.updUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        delFlag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_menu
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      parentMenu = #{record.parentMenu,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      addTime = #{record.addTime,jdbcType=TIMESTAMP},
      addUserId = #{record.addUserId,jdbcType=VARCHAR},
      updTime = #{record.updTime,jdbcType=TIMESTAMP},
      updUserId = #{record.updUserId,jdbcType=VARCHAR},
      delFlag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jvbo.blog.model.Menu">
    update t_menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentMenu != null">
        parentMenu = #{parentMenu,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null">
        addUserId = #{addUserId,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null">
        updTime = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserId != null">
        updUserId = #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        delFlag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jvbo.blog.model.Menu">
    update t_menu
    set name = #{name,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parentMenu = #{parentMenu,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      addUserId = #{addUserId,jdbcType=VARCHAR},
      updTime = #{updTime,jdbcType=TIMESTAMP},
      updUserId = #{updUserId,jdbcType=VARCHAR},
      delFlag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>