
<link rel="stylesheet" href="$rc.contextPath/STATIC/js/bootstrap3/css/bootstrap.min.css">
<link rel="stylesheet" href="$rc.contextPath/STATIC/js/bootstrap3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="$rc.contextPath/STATIC/css/blog.css">

<script>
	var ctx = "$rc.contextPath";
</script>
<script src="$rc.contextPath/STATIC/js/bootstrap3/js/jquery-1.11.2.min.js"></script>
<script src="$rc.contextPath/STATIC/js/bootstrap3/js/bootstrap.min.js"></script>
