##set($layout = "/layout/front.vm")
<form id="myform" style="margin: 50px;">
<input type="hidden" name="id" value="$!{vo.id}"/>
<table style="font-size: 12px;" cellspacing="6" width="100%">
<tbody>
		#if($mark == 1)
			<tr>
				<td>用户IP：</td>
				<td>
					$!{vo.userIp}
				</td>
			</tr>
			<tr>
				<td>评论内容：</td>
				<td>
					$!{vo.content}
				</td>
			</tr>
			
			<tr>
				<td>评论时间：</td>
				<td>
					$!date.format("yyyy-MM-dd HH:mm:ss", $!{vo.commentDate})
				</td>
			</tr>
		#else
			<tr>
				<td>用户IP：</td>
				<td>
					<input type="text" value="$!{vo.userIp}" name="userIp" class="easyui-validatebox" data-options="required:true" />
				</td>
			</tr>
			<tr>
				<td>评论内容：</td>
				<td>
					<input type="text" value="$!{vo.content}" name="content" class="easyui-validatebox" data-options="required:true"/>
				</td>
			</tr>
			<tr>
				<td>评论时间：</td>
				<td>
					<input type="text" value="$!date.format('yyyy-MM-dd HH:mm:ss', $!{vo.commentDate})" name="commentDate" class="easyui-datetimebox" />
				</td>
			</tr>
		#end
</tbody>
</table>
</form>