	<title>博主列表</title>
  	  <script type="text/javascript">
		var columns=[[
					{field:'userName',title:'用户名',width:'30%'},
					{field:'nickName',title:'昵称',width:'30%'},
					{field:'sign',title:'个性签名',width:'30%'}
				]];
		$(function(){
			initPage("/sys/blogger/","博主列表","博主信息","博主信息",columns);
		});
	</script>
    	<table id="tab" toolbar="#tb"></table>
    	<div id="tb">
    		<form id="queryForm">
    			<a id="add" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增</a> 
    			<a id="edit" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
    			<a id="remove" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
    			<a id="see" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-large-smartart'">查看</a>
    			<input placeholder="用户名" name="userName"  style="margin-top: 1px;" />
    			<a id="search" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
    		</form>
    	</div>
    	
    	<div id="win"></div>
    	<div id="seeWin"></div>
