##set($layout = "/layout/front.vm")

	<title>角色列表</title>
    <script type="text/javascript">
    
    	var columns=[[
    			{field:'name',title:'角色名称'},
    			{field:'desc',title:'角色描述'},
    			{field:'addTime',title:'添加时间',formatter:formatDatebox},
    			{field:'iId',title:'操作',formatter:function(value,row,index){
    				var str="<a href=javascript:void(0); onclick=viewJf('"+row.id+"')>权限设置</a>";
    				return str;
    			}}
    		]];
    		
    	var id="";
    	function viewJf(value){
    		id=value;
    		$("#menuWin").dialog("refresh",ctx+"/sys/role/menuTree.ajax");
    		$("#menuWin").dialog("open");
    	}
    	
    	var buttons=[{
		  		text:'确定',
		  		iconCls:'icons-other-tick',
		  		handler:function(){ 
		  			ISubmit("myform","/sys/role/modify.ajax");
		  		}
	  		},
    		{
	    		text:'取消',
	    		iconCls:'icons-arrow-cross',
	    		handler:function(){$('#win').dialog('close');}
    		}];
    		
    	var seeButtons=[{text:"关闭",iconCls:'icons-arrow-cross',handler:function(){$('#seeWin').dialog('close');}}];
    	var menuButtons=[
    	{text:"确定",iconCls:'icons-other-tick',
		  		handler:function(){ 
		  			var nodes=$("#treeUl").tree("getChecked");
		  			var array=new Array();
		  			for(var i=0;i<nodes.length;i++){
		  				array.push(nodes[i].id);
		  			}
		  			var data=ajaxPost('/sys/role/roleMenu.ajax',{ids:array,roleId:id});
		  			if(data){
		  				$.messager.alert("系统提示","操作成功");
		  				$("#menuWin").dialog("close");
		  			}else{
		  				$.messager.alert("系统提示","操作失败");
		  			}
		  		}
		},
    	{text:"关闭",iconCls:'icons-arrow-cross',handler:function(){$('#menuWin').dialog('close');}}];
    $(function(){
    	initDatagrid("/sys/role/index.ajax","角色列表",columns);
    	initDialog("win","角色信息",400,300,buttons);
    	initDialog("seeWin","角色信息",400,300,seeButtons);
    	initDialog("menuWin","菜单列表",400,300,menuButtons);
    	
    	$("#add").click(function(){
	  			$("#win").dialog("refresh",ctx+"/sys/role/modify.ajax");
				$("#win").dialog("open");
	  	});
	  			
	  			$("#edit").click(function(){
	  				IModify("/sys/role/modify.ajax")
	  			});
	  			
	  			$("#remove").click(function(){
	  				IRemove("/sys/role/remove.ajax");
	  				
	  			});
	  			
	  			$("#see").click(function(){
	  				ISee("seeWin","/sys/role/modify.ajax");
	  			});
	  			
	  			$("#search").click(function(){
	  				initDatagrid("/sys/role/index.ajax?"+$("#queryForm").serialize(),"商品分类列表",columns);
	  			});
    	
    	
    	
    });
    
    
    
    </script>

  </head>
  
  <body>
    	<table id="tab" toolbar="#tb"></table>
    	<div id="tb">
    		<form id="queryForm">
	    		<a id="add" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加角色</a> 
	    		<a id="edit" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
	    		<a id="remove" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
	    		<a id="see" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-large-smartart'">查看</a>
	    		<input placeholder="角色名称" name="name" style="margin-top: 1px;" />
	    		<a id="search" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
    		</form>
    	</div>
    	
    	<div id="win"></div>
    	<div id="seeWin"></div>
    	<div id="menuWin"></div>