##set($layout = "/layout/front.vm")
<form id="myform" style="margin: 50px;">

	<input type="hidden" name="id" value="$!{vo.id}"/>
    <table style="font-size: 12px;" cellspacing="6" width="100%">
    	<tbody>
    			#if($mark == 1)
    				<tr>
    					<td>角色名称：</td>
    					<td>$!{vo.name}</td>
    				</tr>
    				<tr>
    					<td>角色描述：</td>
    					<td>$!{vo.desc}</td>
    				</tr>
    			#else
    				<tr>
    					<td>角色名称：</td>
    					<td><input type="text" name="name" calss="easyui-validatebox" class="easyui-validatebox" data-options="required:true" value="$!{vo.name}" /> </td>
    				</tr>
    				<tr>
    					<td>角色描述：</td>
    					<td>
    						<textarea rows="2" cols="10" name="desc" class="easyui-validatebox" data-options="required:true">$!{vo.desc}</textarea>
    					</td>
    				</tr>
    			#end
    	</tbody>
    </table>
</form>